dist: bionic
language: ruby
rvm:
- 2.6.3

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
script:
- bundle exec jekyll build

notifications:
  email: true

branches:
  only:
    - master

before_install:
  - gem update --system
  - gem --version

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
