.menu > li {
    display:inline-block;
    font-weight:bold;
    padding:6px 10px;
    cursor:pointer;
    border:1px solid;
    margin:5px;
}
.container {
    margin:5px;
}
.container > div {
    display:none;
}
.container > div:first-child {
    display:block;
}