
  p#cf7_controls {
    text-align:center;
  }
  #cf7_controls span {
    padding-right:2em;
    cursor:pointer;
  }
  #cf7 {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto 10px;
  }
  #cf7 img {

    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
       -moz-transform: scale(0.3); /* FF3.5+ */
        -ms-transform: scale(0.3); /* IE9 */
         -o-transform: scale(0.3); /* Opera 10.3+ */
            transform: scale(0.3);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');    
  }

  #cf7 img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
